.App {
  font-size: 20px;
}

.light {
  background-color: var(--light-background-color);
  color: var(--light-color);
}

.dark {
  background-color: var(--dark-background-color);
  color: var(--dark-color);
}

@media (max-width: 500px) {
  .App {
    font-size: 13px;
  }
}