.footer {
    margin: 1em 0;
    display: flex;
    justify-content: space-evenly;
    
}

.footer-title {
    text-align: center;
}

.footer-content {
    font-size: smaller;
    display: flex;
    justify-content: space-around;
}

a {
    color: currentColor;
}

a:visited {
    color: currentColor;
}

a:hover {
    font-size: 1.15em;
}