.image-container {
    width: 50%;
    max-width: 600px;
    margin: auto;
}

.image-container img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

@media (max-width: 900px) {
    .image-container {
        width: 75%;
    }
}

@media (max-width: 500px) {
    .image-container {
        width: 100%;
    }
}