.image-count {
    font-size: smaller;
    display: flex;
    justify-content: space-between;
    margin: 1em;
    margin-bottom: 0;
}

.image-count div:hover {
    cursor: pointer;
}

.disabled {
    opacity: 50%;
}

.disabled:hover {
    cursor: default !important;
}

.carousel {
    overflow: hidden;
    max-width: 600px;
    width: 50%;
    margin: auto;
}

.inner {
    margin: 0;
    white-space: nowrap;
    transition: transform 0.2s;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    width: 50%;
    max-width: 600px;
    margin: auto;
}

.carousel-item img, .image-container img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    box-shadow: 
        0 1px 1px 0 rgba(0, 0, 0, 0.09),
        0 2px 2px 0 rgba(0, 0, 0, 0.09),
        0 4px 4px 0 rgba(0, 0, 0, 0.09),
        0 8px 8px 0 rgba(0, 0, 0, 0.09);
}

.page-number {
    padding: 0 0.25em;
}

.active {
    text-decoration: underline;
    cursor: default !important;
}

figure {
    padding: 1em;
    margin: 0;
    padding-bottom: 0;
}
  
figcaption {
    text-align: center;
    font-size: smaller;
    margin: 1em;
    margin-bottom: 0;
    white-space: normal;
}

@media (max-width: 900px) {
    .image-container {
        width: 75%;
    }
    .carousel {
        width: 75%;
    }
}

@media (max-width: 500px) {
    .image-container {
        width: 100%;
    }
    .carousel {
        width: 100%;
    }
}