@font-face {
  font-family: font;
  src: url(../fonts/Aaargh.ttf);
}

body {
  font-family: font;
  margin: 0px
}

.container-text {
  width: 50%;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: row;
  
}

@media (max-width: 800px) {
  .container {
    flex-direction: column-reverse;
  }

  .container-text {
    width: 80%;
  }
}